body {
    background: url(Images/bganyer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h4{
    text-align: center;
  }
  .container{
    border-radius: 10px;
  }
h1{
    text-align: center;
    color: rgb(105, 248, 176);
    text-decoration-color: aqua;
    
}
