body {
  background: url(Images/bganyer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*{
  font-family: 'Rubik Gemstones', cursive;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
  text-align: center;
}

.container {
  border-radius: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  
}

h1 {
  text-align: center;
  color: rgb(3, 77, 40);
  text-decoration-color: aqua;

}

