body {
  background: url(Images/bgjkt1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*{
  font-family: 'Rubik Gemstones', cursive;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
  text-align: center;
}

.container {
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: rgb(53, 7, 97);
}
.col-sm-8{
  background-color: blanchedalmond;
  opacity: 0.9 ;
  margin-top: 10px;
  border-radius: 15px;
  color: rgb(156, 141, 2);
}