body {
    background: url(Images/bgjabar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
  font-family: 'Rubik Gemstones', cursive;
}

#mainNavigation a{
    color:bisque
}
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h4{
    text-align: center;
  }
  .container{
    border-radius: 10px;
    
  }
  h1{
    text-align: center;
    color: rgb(190, 126, 28);
  }
  .col-sm-8{
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 0.9 ;
    position: sticky;
    color: rgb(1, 95, 48);
    
  }
  