body {
  background: url(Images/bgjateng.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#mainNavigation a {
  color: bisque
}

.column {
  float: left;
  width: 33.33%;
}

* {
  font-family: 'Rubik Gemstones', cursive;
}
h1{
  text-align: center;
  color: rgb(130, 3, 168);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
  text-align: center;
}

.container {
  border-radius: 10px;
}
P{
  background-color: azure;
  opacity: 0.8 ;
  color: rgb(128, 2, 18);
  border-radius: 15px;
  margin: auto;
  padding:10px;
}
